<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698139470270-2oc8nk1nlranoudnnvmn0f8jlob534rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698139470270-2oc8nk1nlranoudnnvmn0f8jlob534rf</string>
	<key>API_KEY</key>
	<string>AIzaSyAbIao8RQ0h98PZpURhb8HBe5j8wKWrDTE</string>
	<key>GCM_SENDER_ID</key>
	<string>698139470270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jai-Chawla.Firebase-Chat</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-2e1fa</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-2e1fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698139470270:ios:95920e15ad4c8babfcf1ef</string>
</dict>
</plist>